{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">О нас</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="{% url 'home' %}"><i class="lni lni-home"></i> Главная</a></li>
                    <li>О нас</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start About Area -->
<section class="about-us section">
    <div class="container">
        <div class="row align-items-center">
            <!-- <div class="col-lg-6 col-md-12 col-12">
                <div class="content-left">
                    <img src="https://via.placeholder.com/540x420" alt="#">
                    <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                        class="glightbox video"><i class="lni lni-play"></i></a>
                </div>
            </div> -->
            <div class="col-12">
                <!-- content-1 start -->
                <div class="content-right">
                    <h2>{{ request.get_host }} - Ваш надежный партнёр.</h2>
                    <p>{{ request.get_host }} – современный интернет магазин, основной целью которого является реализация
                        электротехнических товаров по ценам ниже рынка без потери качества.</p>
                    <p>Как мы работаем?</p>
                    <p>Мы решили не использовать розничную сеть магазинов и работать на доставке. Уступая в сроках
                        доставки на 1-2 дня, Вы экономите несколько тысяч рублей на товаре.</p>
                    <p>Клиентам {{ request.get_host }} доступен удобный интерфейс, комфортная система заказов, консультация с
                        продавцом и постоянно обновляемый ассортимент товаров.</p>
                    <p>Мы работаем только с ведущими поставщиками и ценим наших клиентов за выбор нашего магазина.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Team Area -->
<section class="team section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Наша команда</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">Днями и ночами работаем для Вас.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Team -->
                <div class="single-team">
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" alt="#">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Анатолий Жуков</h3>
                            <h5>Основатель, директор</h5>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lni lni-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Team -->
                <div class="single-team">
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" alt="#">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Хасан Смирнов</h3>
                            <h5>Программист от Бога</h5>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lni lni-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Team -->
                <div class="single-team">
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" alt="#">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Олег Минлигареев</h3>
                            <h5>Коммерческий директор</h5>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lni lni-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Team -->
                <div class="single-team">
                    <div class="image">
                        <img src="https://via.placeholder.com/300x300" alt="#">
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Какой-то нонейм</h3>
                            <h5>На подхвате</h5>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lni lni-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->

{% endblock content %}