{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Корзина</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="{% url 'home' %}"><i class="lni lni-home"></i> Главная</a></li>
                    <li>Корзина</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        {% if cart.products %}
        <div class="cart-list-head">
            <!-- Cart List Title -->
            <div class="cart-list-title">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-12">
                        <!-- <p>Изображение</p> -->
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <p>Товар</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Количество</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Сумма</p>
                    </div>
                    {% if row_product.discount > 0 %}
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Скидка</p>
                    </div>
                    {% endif %}
                    <div class="col-lg-1 col-md-2 col-12">
                        <p>Удалить</p>
                    </div>
                </div>
            </div>
            <!-- End Cart List Title -->
            {% for row_product in cart.products %}
            <!-- Cart Single List list -->
            <div class="cart-single-list">
                <div class="row align-items-center shop-row-cart-order" data-shop-product_cart-pk="{{ row_product.id }}" data-shop-price="{{ row_product.price }}">
                    <div class="col-lg-1 col-md-1 col-12">
                        {% if row_product.product.photo %}
                        <a href="{% url 'productdetails' row_product.product.slug %}"><img src="{{ row_product.product.photo }}" alt="#"></a>
                        {% else %}
                        <a href="{% url 'productdetails' row_product.product.slug %}"><img src="https://via.placeholder.com/220x200" alt="#"></a>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <h5 class="product-name">
                            <a href="{% url 'productdetails' row_product.product.slug %}">
                            {{ row_product.product.name }}</a>
                        </h5>
                        <!-- <p class="product-des">
                            <span><em>Тип:</em> Mirrorless</span>
                            <span><em>Цвет:</em> Black</span>
                        </p> -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <div class="count-input">
                            <input class="form-control" type="number" name="quantity" step="1" min="1" value="{{ row_product.quantity|floatformat }}" onclick="after_change_quantity(this);">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p class="shop-amount">{{ row_product.amount|floatformat:'2g' }}</p>
                    </div>
                    {% if row_product.discount > 0 %}
                    <div class="col-lg-2 col-md-2 col-12">
                        <p class="shop-discount">{{ row_product.discount }}</p>
                    </div>
                    {% endif %}
                    <div class="col-lg-1 col-md-2 col-12">
                        <!-- <a class="remove-item" href="javascript:void(0)"><i class="lni lni-close"></i></a> -->
                        <button class="btn" onclick="delete_cart_product(this);"><i class="remove-item lni lni-close"></i></button>
                    </div>
                </div>
            </div>
            <!-- End Single List list -->
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-12">
                            <!-- <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Введите купон">
                                        <div class="button">
                                            <button class="btn">Применить купон</button>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="right">
                                <ul>
                                    <li>Сумма товаров в корзине<span>{{ cart.amount }}</span></li>
                                    <li>Доставка<span>Бесплатно</span></li>
                                    {% if cart.discount > 0 %}
                                    <li>Скидка<span>{{ cart.discount }}</span></li>
                                    {% endif %}
                                    <li class="last">К оплате<span>{{ cart.amount }}</span></li>
                                </ul>
                                <div class="button">
                                    <a href="{% url 'checkout' %}" class="btn">Оформить заказ</a>
                                    <a href="{% url 'home' %}" class="btn btn-alt">Продолжить покупки</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
        {% else %}
        <div>
            <p>Корзина пуста, но это легко исправить ;)</p>
        </div>
        {% endif %}
    </div>
</div>
<!--/ End Shopping Cart -->

{% endblock content %}