{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url({% static 'main/images/carousel/carousel1.jpg' %});">
                                <!-- <div class="content">
                                    <h2><span>No restocking fee (₽35 savings)</span>
                                        M75 Sport Watch
                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut
                                        labore dolore magna aliqua.</p>
                                    <h3><span>Now Only</span> ₽18000.00</h3>
                                    <div class="button">
                                        <a href="product-grids.html" class="btn">Купить</a>
                                    </div>
                                </div> -->
                            </div>
                            <!-- End Single Slider -->
                            <div class="single-slider"
                                style="background-image: url({% static 'main/images/carousel/carousel2.jpg' %});">
                            </div>
                            <div class="single-slider"
                                style="background-image: url({% static 'main/images/carousel/carousel3.jpg' %});">
                            </div>
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Featured Categories Area -->
    <section class="featured-categories section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Избранные категории </h2>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">ТВ и аудио </h3>
                        <ul>
                            <li><a href="#">Умные телевизоры</a></li>
                            <li><a href="#">QLED TV</a></li>
                            <li><a href="#">Аудио</a></li>
                            <li><a href="#">Наушники</a></li>
                            <li><a href="#">Все позиции</a></li>
                        </ul>
                        <div class="images">
                            <img width="190" height="190" src="{% static 'main/images/category/category170х170_1.jpg' %}" alt="category1">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">Настольные ПК</h3>
                        <ul>
                            <li><a href="#">Умные телевизоры</a></li>
                            <li><a href="#">QLED TV</a></li>
                            <li><a href="#">Аудио</a></li>
                            <li><a href="#">Наушники</a></li>
                            <li><a href="#">Все позиции</a></li>
                        </ul>
                        <div class="images">
                            <img width="190" height="190"  src="{% static 'main/images/category/category170х170_2.jpg' %}" alt="category2">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">Cctv камеры</h3>
                        <ul>
                            <li><a href="#">Умные телевизоры</a></li>
                            <li><a href="#">QLED TV</a></li>
                            <li><a href="#">Аудио</a></li>
                            <li><a href="#">Наушники</a></li>
                            <li><a href="#">Все позиции</a></li>
                        </ul>
                        <div class="images">
                            <img width="190" height="190" src="{% static 'main/images/category/category170х170_3.jpg' %}" alt="category3">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->

    <!-- Start Trending Product Area -->
    <section class="trending-product section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Популярное на {{ request.get_host }}</h2>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product_info in top_products %}
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- отдельный товар -->
                    <div class="single-product">
                        <div class="product-image">
                            {% if product_info.product.photo %}
                            <img src="{{ product_info.product.photo.url }}" alt="{{ product_info.product.name }}">
                            {% else %}
                            <img src="https://via.placeholder.com/335x335" alt="#">
                            {% endif %}
                            <!-- <span class="sale-tag">-25%</span> -->
                            <!-- <span class="new-tag">New</span> -->
                            <div class="button">
                                <button class="btn" style="width: 100%;" data-shop-product-pk="{{ product_info.product.pk }}" data-bs-toggle="modal" data-bs-target="#successAddProductToCartModal"><i class="lni lni-cart"></i>В корзину</button>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">{{ product_info.product.category.name }}</span>
                            <h4 class="title">
                                <a href="{% url 'product-details' product_info.product.slug %}">{{ product_info.product.name }}</a>
                            </h4>
                            <!-- <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>5.0 Оценка</span></li>
                            </ul> -->
                            <div class="price">
                                <span>{{ product_info.currency.sign }}{{ product_info.price }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- отдельный товар -->
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Trending Product Area -->

    <!-- Start Banner Area -->
    <!-- End Banner Area -->

    <!-- Start Special Offer -->
    <!-- <section class="special-offer section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Специальные предложения</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="single-product">
                            <div class="product-image">
                                <img src="https://via.placeholder.com/335x335" alt="#">
                                <span class="sale-tag">-50%</span>
                                <div class="button">
                                    <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> Добавить в корзину</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <span class="category">Camera</span>
                                <h4 class="title">
                                    <a href="product-grids.html">WiFi Security Camera</a>
                                </h4>
                                <div class="price">
                                    <span>₽25000.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="single-product">
                            <div class="product-image">
                                <img src="https://via.placeholder.com/335x335" alt="#">
                                <span class="sale-tag">-50%</span>
                                <div class="button">
                                    <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> Добвить в корзину</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <span class="category">Laptop</span>
                                <h4 class="title">
                                    <a href="product-grids.html">Apple MacBook Air</a>
                                </h4>
                                <div class="price">
                                    <span>₽75000.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="single-product">
                            <div class="product-image">
                                <img src="https://via.placeholder.com/335x335" alt="#">
                                <span class="sale-tag">-50%</span>
                                <div class="button">
                                    <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> Добавить в корзину</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <span class="category">Speaker</span>
                                <h4 class="title">
                                    <a href="product-grids.html">Bluetooth Speaker</a>
                                </h4>
                                <div class="price">
                                    <span>₽4300.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="single-product">
                            <div class="product-image">
                                <img src="https://via.placeholder.com/335x335" alt="#">
                                <span class="sale-tag">-50%</span>
                                <div class="button">
                                    <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> Добавить в корзину</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <span class="category">Speaker</span>
                                <h4 class="title">
                                    <a href="product-grids.html">Bluetooth Speaker</a>
                                </h4>
                                <div class="price">
                                    <span>₽4300.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-banner right"
                    style="background-image:url('https://via.placeholder.com/730x310');margin-top: 30px;">
                    <div class="content">
                        <h2>Samsung Notebook 9 </h2>
                        <p>Lorem ipsum dolor sit amet, <br>eiusmod tempor
                            incididunt ut labore.</p>
                        <div class="price">
                            <span>₽50000.00</span>
                        </div>
                        <div class="button">
                            <a href="product-grids.html" class="btn">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Special Offer -->

    <!-- Start Home Product List -->
    <!-- <section class="home-product-list section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">
                    <h4 class="list-title">Бестселлеры</h4>
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">GoPro Hero4 Silver</a>
                            </h3>
                            <span>₽22000.00</span>
                        </div>
                    </div>

                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Puro Sound Labs BT2200</a>
                            </h3>
                            <span>₽6000.00</span>
                        </div>
                    </div>
                    
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">HP OfficeJet Pro 8710</a>
                            </h3>
                            <span>₽8400.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">
                    <h4 class="list-title">Новые поступления</h4>

                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">iPhone X 256 GB Space Gray</a>
                            </h3>
                            <span>₽120000.00</span>
                        </div>
                    </div>

                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Canon EOS M50 Mirrorless Camera</a>
                            </h3>
                            <span>₽110000.00</span>
                        </div>
                    </div>

                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Microsoft Xbox One S</a>
                            </h3>
                            <span>₽25000.00</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <h4 class="list-title">Самые популярные</h4>
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Samsung Gear 360 VR Camera</a>
                            </h3>
                            <span>₽5000.00</span>
                        </div>
                    </div>
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Samsung Galaxy S9+ 64 GB</a>
                            </h3>
                            <span>₽90000.00</span>
                        </div>
                    </div>
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="https://via.placeholder.com/100x100" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Zeus Bluetooth Наушники</a>
                            </h3>
                            <span>₽1200.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Home Product List -->

    <!-- Start Brands Area -->
    <div class="brands d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                    <!-- <h2 class="title">Popular Brands</h2> -->
                </div>
            </div>
            <div class="brands-logo-wrapper">
                <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="brand-logo">
                        <!-- <img src="https://via.placeholder.com/220x160" alt="#"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brands Area -->

    <!-- Start Blog Section Area -->
    <!-- End Blog Section Area -->

    <!-- Start Shipping Info -->
    <section class="shipping-info">
        <div class="container">
            <ul>
                <!-- Free Shipping -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-delivery"></i>
                    </div>
                    <div class="media-body">
                        <h5>Бесплатная доставка.</h5>
                        <span>При заказе от 10000₽</span>
                    </div>
                </li>
                <!-- Money Return -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-support"></i>
                    </div>
                    <div class="media-body">
                        <h5>Круглосуточная поддержка.</h5>
                        <span>Чат или телефонный звонок</span>
                    </div>
                </li>
                <!-- Support 24/7 -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-credit-cards"></i>
                    </div>
                    <div class="media-body">
                        <h5>Онлайн платеж.</h5>
                        <span>Безопасные платежи.</span>
                    </div>
                </li>
                <!-- Safe Payment -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-reload"></i>
                    </div>
                    <div class="media-body">
                        <h5>Легкий возврат.</h5>
                        <span>Беспроблемный шоппинг.</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- End Shipping Info -->

    {% include 'shop/add_product_to_cart_modal.html' %}

    <script src="{% static 'main/js/tiny-slider.js' %}"></script>
    <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });

    </script>

{% endblock content %}