{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Возврат товаров</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="{% url 'home' %}"><i class="lni lni-home"></i> На главную</a></li>
                    <li>Возврат товаров</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<section class="faq section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Возврат товаров</h3>
                <br>
                <div style="color:black;">
                    <p><strong>Исправную технику</strong>, приобретенную в нашем Онлайн-магазине можно обменять в
                        течение 7 дней.</p>
                    <p>При этом должны быть соблюдены условия:</p>
                    <ul class="px-3" style="list-style-type: disc;">
                        <li>товар должен быть надлежащего качества, в полной комплектации;</li>
                        <li>операционная система не активирована;</li>
                        <li>товар без следов эксплуатации;</li>
                        <li>сохранена заводская упаковка.</li>
                    </ul>
                    <p>Если с момента покупки, приобретенной в Онлайн-магазине прошло с 8 до 15 дней, технику
                        можно поменять при условии:</p>
                    <ul class="px-3" style="list-style-type: disc;">
                        <li>товар без механических повреждений и следов коррозии;</li>
                        <li>товар надлежащего качества и в полной комплектации;</li>
                        <li>на товаре нет следов эксплуатации;</li>
                        <li>операционная система не активирована;</li>
                        <li>на товаре нет следов эксплуатации;</li>
                        <li>сохранена заводская упаковка.</li>
                    </ul>
                    <p>Не подлежат обмену*:</p>
                    <ul class="px-3" style="list-style-type: disc;">
                        <li>товары, которые содержат в комплекте SIM-карту;</li>
                        <li>товары личного пользования (выпрямители, бритвы, эпиляторы, маникюрные наборы, зубные
                            щетки, фены, грелки, ингаляторы, алкотестер, массажеры, тонометры, стетоскопы, термометры,
                            аксессуары для зубных щеток, весы, шагомеры);</li>
                        <li>техника для дома (центр умного дома, пылесосы-роботы) и техника для кухни, которая была в
                            использовании и соприкасалась с продуктами питания (кофеварки, кофемашины, блендеры,
                            чайники, умные электрочайники, соковыжималки, мультиварки, микроволновые печи,
                            термопоты, тостеры, бутербродницы, хлебопечи, электрогрили, мясорубки, тестеры воды,
                            эковизоры, рисоварки, грили, минипечи, кухонные весы, аксессуары для кофемашин);</li>
                        <li>товары личного пользования (эпиляторы, выпрямители, термометры и тд.);</li>
                        <li>товар, который содержит активированную учетную запись пользователя;</li>
                        <li>товар, который содержит активированное/обновленное/измененное программное обеспечение;</li>
                        <li>*Полный список исключений к обмену уточняйте у телеграмм-бота.</li>
                    </ul>
                    <p>Окончательное решение, исходя из внешнего вида аппарата, принимает директор магазина.</p>
                    <p><strong>Неисправный товар, который не относится к категории
                            технически сложный</strong> можно обменять или вернуть, в случае если:</p>
                    <ul class="px-3" style="list-style-type: disc;">
                        <li>с момента покупки не прошло 15 дней;</li>
                        <li>в товаре присутствует явный дефект;</li>
                        <li>товар без механических повреждений, следов коррозии, сколов/трещин/следов падения
                            или ударов, следов воздействия высокой температуры (оплавленность, деформация и
                            т.п);</li>
                        <li>товар не имеет повреждённые разъёмы, в том числе разъёмы для сетевого зарядного
                            устройства, SIM-карты и иные;</li>
                        <li>товар не имеет следов воздействия влаги (вздутие аккумуляторной батареи, окисление
                            видимых контактов, изменение цвета индикатора влаги (при наличии));</li>
                        <li>не имеет свободный ход кнопок, невозможности фиксации нажатия, «залипание»
                            кнопок.</li>
                    </ul>
                    <p>Некоторые категории товаров не подлежат обмену, подробнее уточняйте у
                        телеграмм-бота: <a href="https://t.me/forsale_bot" target="_blank">
                            <i class="lni lni-telegram-plane"></i></a></p>
                    <p>Окончательное решение, исходя из внешнего вида товара и наличия явного 
                        дефекта в нём, принимает руководитель магазина.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}