{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Пользовательское соглашение</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="{% url 'home' %}"><i class="lni lni-home"></i> На главную</a></li>
                    <li>Пользовательское соглашение</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<section class="faq section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Пользовательское соглашение</h3>
                <div style="color:black;">
                    <h6 class="py-3">Термины и определения</h6>
                    <p>Администрация сайта – <a href="{% url 'home' %}">{{ request.get_host }}</a> Эл. почта: <a
                            href="mailto:info@forsale.store">info@forsale.store</a></p>
                    <p>Акцепт – полное и безоговорочное принятие соглашения Пользователем путем осуществления действий
                        по принятию её положений с помощью сервиса Сайта (нажатием на кнопку Оплатить).</p>
                    <p>Соглашение – публичное предложение Администрации сайта о заключении лицензионного договора о
                        приобретении Товаров дистанционным способом.</p>
                    <p>Пользователь - лицо, имеющее доступ к Сайту, посредством сети Интернет. Пользователем может быть
                        полностью а физическое лицо.</p>
                    <p>Товар – сложные технические товары, сведения о которых содержатся на Сайте.</p>
                    <p>Заказ - запрос Пользователя на приобретение Товара, оформленный в соответствии с требованиями
                        Сайта.</p>
                    <p>Сайт – интернет-сайт, расположенный в сети Интернет по адресу <a href="{% url 'home' %}">
                            {{request.get_host }}</a>.</p>
                    <p>Стороны – Пользователь и Администрация сайта.</p>
                    <h6 class="py-3">1. Предмет соглашения</h6>
                    <p>1.1. Администрация Сайта на возмездной основе предоставляет возможность Пользователю использовать
                        сервисы Сайта для приобретения Товаров в личных интересах.</p>
                    <p>1.2. Любая информация, представленная на Сайте, носит справочный характер. Для уточнения свойств
                        и характеристик Товара, Пользователь должен обратиться к Администрации сайта по Email
                        – <a href="mailto:info@soft.store">info@soft.store</a>.</p>
                    <p>1.3. Администрация сайта не является правообладателем (собственником) Товара и осуществляет лишь
                        реализацию Товара.</p>
                    <p>1.4. Администрация сайта может предлагать Товар, еще не поступивший в продажу. Такой Товар
                        оформляется как предзаказ.</p>
                    <p>На Сайте указывается срок поступления в продажу такого Товара. Указанный срок может быть изменен
                        на основании информации, полученной от правообладателя (собственника) Товара.</p>
                    <h6 class="py-3">2. Порядок заказа товара</h6>
                    <p>2.1. Для того чтобы приобрести выбранный Пользователем Товар, Пользователь обязан воспользоваться
                        способами, предложенными на Сайте.</p>
                    <p>2.2. Доставка Товара осуществляется после поступления оплаты за исключением некоторых случаев,
                        когда Заказ пользователя нуждается в дополнительной проверке Администрацией сайта. </p>
                    <p>2.3. До момента заказа Товара Пользователь обязан ознакомиться с условиями доставки, оплаты
                        Товара, характеристиками Товара, путем перехода по активным ссылкам на Сайте.</p>
                    <p>2.4. При оформлении Заказа Пользователь должен указать адрес, на который будет доставлен Товар.
                    </p>
                    <h6 class="py-3">3. Оплата товара</h6>
                    <p>3.1. Товар оплачивается до его передачи Пользователю в полном объеме.</p>
                    <p>3.2. Расчеты Сторон происходят в безналичной форме с помощью использования программно-технических
                        средств Сайта посредством платежной системы.</p>
                    <p>3.3. При проведении оплаты может быть предусмотрена комиссия определенной платежной системы
                        (банка, сотового оператора и т. п.). Данная комиссия оплачивается Пользователем.</p>
                    <h6 class="py-3">4. Возврат товара</h6>
                    <p>4.1. Пользователь вправе отказаться от заказа Товара до момента его оплаты.</p>
                    <p>4.2. Все остальные условия возврата Товара указаны в соответствующем разделе на сайте <a
                            href="{% url 'home' %}">{{ request.get_host }}</a></p>
                    <h6 class="py-3">5. Прочие условия</h6>
                    <p>5.1. При возникновении вопросов, Пользователь имеет право обратиться к Администрации сайта по
                        Email – <a href="mailto:info@forsale.store">info@forsale.store</a>.</p>
                    <p>5.2. Все споры и разногласия, возникающие между Сторонами в процессе исполнения настоящего
                        Соглашения, решаются путем переговоров.</p>
                    <h6 class="py-3">6. Конфиденциальность</h6>
                    <p>6.1. Любая персональная информация, переданная Сторонами друг другу, является конфиденциальной
                        информацией.</p>
                    <p>6.2. Пользователь соглашается с условиями, целями и порядком обработки персональных данных на
                        условиях <a href="{% url 'privacy-policy' %}">Политики конфиденциальности</a> в области
                        обработки персональных данных, а также дает свое
                        Согласие на Обработку персональных данных.</p>
                    <h6 class="py-3">7. Интелектуальная собственность</h6>
                    <p>7.1. Исключительное право на Сайт принадлежит Администрации сайта.</p>
                    <h6 class="py-3">8. Заключительные положения</h6>
                    <p>8.1. Заключая настоящее Соглашение, Пользователь гарантирует, что он обладает полной
                        правоспособностью и дееспособностью, и имеет право заключать настоящее Соглашение.</p>
                    <p>8.2. В случае возникновения разногласий между Сторонами сведения, которые зафиксированы при
                        помощи технических средств Сайта, имеют преимущественное значение при разрешении таких
                        разногласий.</p>
                    <p>8.3. Стороны обязуются сообщать друг другу о любом факте несанкционированного разглашения
                        информации третьим лицам.</p>
                    <p>8.4. Действующее Соглашение размещено на странице Сайта по адресу: <a
                            href="{% url 'user-agreement' %}">{{ request.build_absolute_uri }}</a>.</p>
                    <p>8.5. Неотъемлемыми частями настоящего Соглашения, которые Пользователь безоговорочно принимает
                        (акцептует) при заключении Соглашения являются:</p>
                    <p>Согласие на обработку персональных данных, размещенное на Сайте по адресу <a
                            href="{% url 'privacy-policy' %}">{{ request.get_host }}{% url 'privacy-policy' %}</a></p>
                    <p>Политика в области обработки персональных данных, размещенное на сайте:
                        https://forsale.store/personal_data</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}